@{
    ViewData["Title"] = "AppSaleRent";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
    var url = ViewBag.ApiBaseUrl;
}

@using MaxModels
@model MainModel
@using Newtonsoft.Json;


<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Appartment</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            Appartment
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>Brand New Apartments For Sale and Rent in Dubai</h3>
            </div>
            <div class="col-12 justify-content-between">
                <span class="d-block mb-2 text-black-50">
                    Want to own an apartment in dynamic Dubai? Max Real Estate
                    is your trusted partner in finding and buying brand-new apartments for sale or rent.
                    Owning a home in Dubai offers peace of mind, free from rental expenses.
                    <br>
                    <br>
                    Find the most popular freehold communities in Jumeirah Village Circle (JVC), Arjan, Dubai Marina,
                    Palm Jumeirah, Downtown, Dubai Creek, and many more that will suit your vibrant urban lifestyle.
                    <br>
                    <br>
                    Let Max Real Estate make your journey easier with our expertise in the Dubai property market
                    and customer satisfaction. Find the perfect apartment and experience the joys of owning a house in this magnificent city!
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-3">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- More about Apartments in Dubai -</h3>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>

                    <!-- Carousel Items -->
                    <div class="carousel-inner">
                        <!-- First Slide -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAFE-DEVELOPER-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 1">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAMANA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 2">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 3">
                                </div>
                            </div>
                        </div>
                        <!-- Second Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AQUA-%E2%80%93-O-TEN-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 4">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AZIZI-%E2%80%93-MINA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 5">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/BELHASA-%E2%80%93-BURJ-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 6">
                                </div>
                            </div>
                        </div>
                        <!-- Third Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/1234-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 7">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/WASL-1-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 8">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 9">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Previous Control -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <!-- Next Control -->
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    Browse a variety of new apartments for sale and rent in Dubai,
                    from one-bedroom to four-bedroom apartments. Your dream home is just a step away!
                    <br>
                    <br>
                    Due to their central location within Dubai, our brand-new apartments constitute an ultimate oasis.
                    With convenient public transportation at one's doorstep and shopping, dining, and entertainment possibilities,
                    everything could be just nearby. Do not wait anymore but go through the portfolio of apartments for sale or
                    rent in Dubai and find your ideal dream home now!
                    <br>
                    <br>
                    From luxury new apartments for sale and rent to affordable ones, Dubai offers them all, fitted with premium
                    and economic features, respectively. Whatever your taste, there's something to suit each and every lifestyle.

                    If you plan to buy a new apartment in Dubai, start by making a realistic budget. As luxurious apartments
                    are expensive, having an idea about your spending limits will streamline your search process.
                </span>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- Apartments in Dubai -</h3>
            </div>

            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    The word Dubai means location, and the city lives up to that meaning.
                    An apartment near where you want to spend most of your time will make all the difference in convenience and lifestyle.
                    In addition, consider the amenities accompanying each unit, many with swimming pools, a gym, concierge services,
                    and more to complement your lifestyle.
                    <br>
                    <br>
                    You will want to choose an apartment that has the amenities that you need and want. If you are
                    looking for an apartment for sale or rent in Dubai, then you should start your search online
                    with Max Real Estate in Dubai and Property Management You can compare prices, amenities,
                    locations, and more before you make your decision.
                    <br>
                    <br>
                    Search for luxury real estate in Dubai view our exclusive listings of Dubai and connect with an
                    agent today. Get your keys to Dubai with our Max property solutions designed to best
                    match your needs. Available Properties are listed on http://maxre.ae
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- Lifestyle in Dubai -</h3>
            </div>

            <div class="col-md-6">
                <span class="d-block mb-2 text-black-50">
                    Living in Dubai is an experience like no other. This cosmopolitan city has
                    something to offer everyone, from the bustling downtown area to the more relaxed and laid-back
                    lifestyle of the suburbs.

                    There is always something to do in Dubai, whether you’re exploring the many shopping malls,
                    enjoying the nightlife, or simply taking in the sights and sounds of this unique city.
                    <br>

                    If you’re looking for a fast-paced and exciting lifestyle, Dubai is the perfect place for you.
                    The city is home to some of the best shopping in the world, as well as a variety of restaurants,
                    bars, and nightclubs. There’s always something new to see and do in Dubai, making it the perfect
                    place to live if you’re looking for an adventurous and thrilling lifestyle.
                    <br>

                    If you prefer a more relaxed lifestyle, Dubai also has plenty to offer. The city has a number of
                    parks and green spaces, as well as quiet residential areas where you can escape the hustle and
                    bustle of downtown. There are also many cultural attractions to enjoy in Dubai, such as museums,
                    art galleries, and historical sites.

                    No matter what your preferences are, there is sure to be a lifestyle in Dubai that’s perfect for
                    you. Whether you’re looking for excitement or relaxation, this vibrant city has something to
                    offer everyone.
                </span>
            </div>
            <div class="col-md-6">
                <video class="w-100" controls>
                    <source src="https://#"
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- All about Buying an Apartment in Dubai -</h3>
            </div>

            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    Buying an apartment in Dubai is easier than one might imagine it to be.
                    In fact, with the help of a few steps, the transaction can be smoothly and successfully completed.
                    First and foremost, one needs to find a reliable estate agent who has experience in dealing with apartment sales in Dubai.
                    <br>

                    Working with a representative who can have in-depth knowledge of the market may guide you more suitably with the
                    best properties matching your budget and your requirements. A visit to such estates will have you schedule and go
                    for a viewing of apartments that best fit your choice after you have selected a number of them from your research work.
                    <br>

                    Once you’ve found the ideal apartment, the next step is to negotiate with the seller. A skilled real estate agent
                    can be invaluable during this stage, offering guidance on a fair price for the property and assisting in reaching an
                    agreement with the seller.

                    The final step is to have the purchase contract prepared and signed. After completing this process, you will officially become
                    the proud owner of your new apartment in Dubai!
                    <br>
                    <br>
                    Max Real Estate – Property Management having brand new specious Apartments for sale and
                    luxurious Apartments for rent in Dubai.
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <!-- col-md-4 containing 3 rows -->
            @foreach (var item in Model.property)
            {
                <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                    <!-- First Row: Title -->
                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <h4>@item.PropertyName</h4>
                        </div>
                    </div>
                    <!-- Second Row: Carousel -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Third Row: Content (Details) -->
                    <div class="row">
                        <div class="col-12">
                            <h5>@item.Address</h5>
                            <ul>
                                <li>@item.TotalBedroom Bedroom Flats</li>
                                <li>
                                    World-class waterfront destination,
                                    Dubai Creek Harbor
                                </li>
                                <li>
                                    Size @item.SqFt sqft; Price Starting
                                    @item.Price
                                </li>
                                <li>
                                    Ready to Move-in; Cash & Finance
                                    Payments available
                                </li>
                            </ul>
                            <div class="text-end">
                                <button class="btn" style="background-color: #25d366; color: white;">
                                    <i class="fab fa-whatsapp"></i> WhatsApp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>EMAAR – CREEKSIDE 18</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          
            
            
            
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>EMAAR – CREEKSIDE 18</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                <!-- First Row: Title -->
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h4>EMAAR – CREEKSIDE 18</h4>
                    </div>
                </div>
                <!-- Second Row: Carousel -->
                <div class="row mb-3">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                         class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third Row: Content (Details) -->
                <div class="row">
                    <div class="col-12">
                        <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                        <ul>
                            <li>1 – 3 Bedroom Flats</li>
                            <li>
                                World-class waterfront destination,
                                Dubai Creek Harbor
                            </li>
                            <li>
                                Size 670 – 2,600 sqft; Price Starting
                                980K – 7M
                            </li>
                            <li>
                                Ready to Move-in; Cash & Finance
                                Payments available
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn" style="background-color: #25d366; color: white;">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-with-icon mt-5">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>