@{
    ViewData["Title"] = "VillaSaleRent";
    Layout = "~/Views/ClientSide/_ClientLayout.cshtml";
    var url = ViewBag.ApiBaseUrl;
}

@using MaxModels
@model MainModel
@using Newtonsoft.Json;

<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Villa</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">
                            Villa
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>Newly Built Villas Available for Sale and Rent in Dubai</h3>
            </div>
            <div class="col-12 justify-content-between">
                <span class="d-block mb-2 text-black-50">
                    Are you in search of a brand-new freehold villa in Dubai?
                    Max Real Estate operates across the United Arab Emirates and specializes in Dubai's vibrant real estate market.
                    Our expert team is here to help you find and purchase the perfect villa tailored to your needs.
                    <br>
                    <br>
                    Whether you're planning to relocate to Dubai, searching for a holiday home, or exploring investment opportunities,
                    our Dubai villa specialists are here to assist you. With our extensive expertise in the Dubai real estate market,
                    we can help you build and grow your investment portfolio.
                    <br>
                    <br>
                    As trusted channel partners for renowned developers in Dubai, such as Emaar, Damac, Nakheel, Wasl, Danube, Azizi,
                    MAG, Deyaar, Sobha, and others, we offer access to an extensive selection of off-plan and ready properties across the city.
                    This ensures you have a wide range of options to make an informed and confident choice.
                    <br>
                    <br>
                    Capitalize on Dubai's thriving real estate market with the help of Max Real Estate. Let us guide you in finding and
                    securing your dream villa. With our professional, customer-focused approach, we ensure a smooth and successful villa-buying experience in Dubai.
                </span>
            </div>
        </div>
        <div class="divider-with-icon mb-3">
            <span class="line"></span>
            <i class="fas fa-star"></i>
            <span class="line"></span>
        </div>
    </div>
</div>


<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- More about Villas in Dubai -</h3>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>

                    <!-- Carousel Items -->
                    <div class="carousel-inner">
                        <!-- First Slide -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAFE-DEVELOPER-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 1">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SAMANA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 2">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 3">
                                </div>
                            </div>
                        </div>
                        <!-- Second Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AQUA-%E2%80%93-O-TEN-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 4">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/AZIZI-%E2%80%93-MINA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 5">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/BELHASA-%E2%80%93-BURJ-750x480.webp"
                                         class="img-fluid" alt="Luxury Home 6">
                                </div>
                            </div>
                        </div>
                        <!-- Third Slide -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/1234-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 7">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/WASL-1-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 8">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <img src="https://www.silverkeys.ae/wp-content/uploads/2022/08/SOBHA-750x480.jpg"
                                         class="img-fluid" alt="Luxury Home 9">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Previous Control -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <!-- Next Control -->
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12">
                <span class="d-block mb-2 text-black-50">
                    Dubai, a vibrant city in the United Arab Emirates,
                    is renowned for its luxurious lifestyle and stunning architecture. Many visitors to Dubai opt
                    for renting a villa instead of staying in a hotel, as villas offer a more spacious and private experience.
                    Villas for rent and sale are available in various locations across the city, with popular areas including
                    Jumeirah Beach, Palm Jumeirah, and Downtown Dubai.
                    <br>
                    <br>
                    Villas are typically much larger than hotel rooms, making them ideal for families or groups of friends
                    traveling together. They often come with exclusive amenities such as private pools, maid and driver rooms,
                    backyards, and barbecue areas, offering a level of comfort and luxury that hotels cannot match.
                    <br>
                    <br>
                    If you're interested in renting or purchasing a villa in Dubai, Max Real Estate offers a comprehensive selection
                    of UAE properties to explore. Visit http://maxre.ae to browse available villas and other real estate options for sale or rent.

                    Villas in Dubai provide a unique and opulent lifestyle, allowing you to experience the best the city has to offer. From cozy two-bedroom villas to expansive,
                    luxurious mansions, there is a villa to suit every budget and preference. Renting or buying a villa in Dubai also gives you complete control over your living
                    environment, making it an excellent choice for those seeking privacy and flexibility in their accommodations.
                </span>
            </div>
        </div>
    </div>
</div>




<div class="">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-12 text-center" data-aos="fade-up">
                <h3>- Types of Villa in Dubai -</h3>
            </div>

            <div class="col-md-6">
                <span class="d-block mb-2 text-black-50">
                    Villas in Dubai come in a variety of styles and sizes,
                    ranging from ultra-luxurious penthouses to more modest townhouses, ensuring there is something
                    to suit every taste and budget. Known for their unmatched comfort, space, and privacy, Dubai’s
                    luxury villas are a hallmark of the city’s opulent lifestyle.
                    <br>

                    There are options for singles, couples, and families alike, with villas designed to cater to diverse needs.
                    For those seeking beachfront living, many properties near Jumeirah Public Beach provide breathtaking views
                    and premium amenities, though rental rates for these prime locations are typically higher.

                    Dubai also boasts several new developments and villa-only communities, such as Arabian Ranches 3,
                    offering cohesive clusters of homogenous living spaces designed for modern lifestyles.
                    <br>

                    Here’s a closer look at some of the most popular types of villas in Dubai:

                    1. Beachfront Villas: Located along the coastline, these villas provide stunning views of the Arabian Sea. Beachfront
                    villas range from cozy one-bedroom units to expansive, multi-story mansions, catering to a variety of
                    preferences and lifestyles.

                    Golf Course Villas: Dubai is home to some of the best golf courses in the world.
                </span>
            </div>
            <div class="col-md-6">
                <video class="w-100" controls>
                    <source src="https://#"
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="divider-with-icon mb-5">
                <span class="line"></span>
                <i class="fas fa-star"></i>
                <span class="line"></span>
            </div>
        </div>
    </div>


    <div class="">
        <div class="container">
            <div class="row">
                <!-- col-md-4 containing 3 rows -->


                @foreach(var item in Model.property)
                {
                    <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                        <!-- First Row: Title -->
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <h4>@item.PropertyName</h4>
                            </div>
                        </div>
                        <!-- Second Row: Carousel -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Third Row: Content (Details) -->
                        <div class="row">
                            <div class="col-12">
                                <h5>@item.Address</h5>
                                <ul>
                                    <li>@item.TotalBedroom Bedroom Flats</li>
                                    <li>
                                        World-class waterfront destination,
                                        Dubai Creek Harbor
                                    </li>
                                    <li>
                                        Size @item.SqFt sqft; Price Starting
                                        @item.Price
                                    </li>
                                    <li>
                                        Ready to Move-in; Cash & Finance
                                        Payments available
                                    </li>
                                </ul>
                                <div class="text-end">
                                  
                                    <button class="btn" style="background-color: #25d366; color: white;">
                                        <i class="fab fa-whatsapp"></i> WhatsApp
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }



                <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                    <!-- First Row: Title -->
                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <h4>DAMAC Lagoons</h4>
                        </div>
                    </div>
                    <!-- Second Row: Carousel -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Third Row: Content (Details) -->
                    <div class="row">
                        <div class="col-12">
                            <h5>Located between Sheikh Mohamed Bin Zayed Road and Emirates Road close to Dubai Sports City.</h5>
                            <ul>
                                <li>1 – 3 Bedroom Flats</li>
                                <li>
                                    World-class waterfront destination,
                                    Dubai Creek Harbor
                                </li>
                                <li>
                                    Size 670 – 2,600 sqft; Price Starting
                                    980K – 7M
                                </li>
                                <li>
                                    Ready to Move-in; Cash & Finance
                                    Payments available
                                </li>
                            </ul>
                            <div class="text-end">
                                <button class="btn" style="background-color: #25d366; color: white;">
                                    <i class="fab fa-whatsapp"></i> WhatsApp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                    <!-- First Row: Title -->
                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <h4>Nakheel – Jebel Ali Village</h4>
                        </div>
                    </div>
                    <!-- Second Row: Carousel -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Third Row: Content (Details) -->
                    <div class="row">
                        <div class="col-12">
                            <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                            <ul>
                                <li>1 – 3 Bedroom Flats</li>
                                <li>
                                    World-class waterfront destination,
                                    Dubai Creek Harbor
                                </li>
                                <li>
                                    Size 670 – 2,600 sqft; Price Starting
                                    980K – 7M
                                </li>
                                <li>
                                    Ready to Move-in; Cash & Finance
                                    Payments available
                                </li>
                            </ul>
                            <div class="text-end">
                                <button class="btn" style="background-color: #25d366; color: white;">
                                    <i class="fab fa-whatsapp"></i> WhatsApp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 shadow p-2 mt-2" style="border-radius: 20px;">
                    <!-- First Row: Title -->
                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <h4>Burooj Townhouses</h4>
                        </div>
                    </div>
                    <!-- Second Row: Carousel -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2024/05/409349634-Copy-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://www.silverkeys.ae/wp-content/uploads/2024/05/409349647-375x240.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="	https://www.silverkeys.ae/wp-content/uploads/2022/08/DANUBE-jemez-750x480.jpg"
                                             class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Third Row: Content (Details) -->
                    <div class="row">
                        <div class="col-12">
                            <h5>Located on Dubai Creek Harbour a flourishing waterfront hotspot.</h5>
                            <ul>
                                <li>1 – 3 Bedroom Flats</li>
                                <li>
                                    World-class waterfront destination,
                                    Dubai Creek Harbor
                                </li>
                                <li>
                                    Size 670 – 2,600 sqft; Price Starting
                                    980K – 7M
                                </li>
                                <li>
                                    Ready to Move-in; Cash & Finance
                                    Payments available
                                </li>
                            </ul>
                            <div class="text-end">
                                <button class="btn" style="background-color: #25d366; color: white;">
                                    <i class="fab fa-whatsapp"></i> WhatsApp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-with-icon mt-5">
                <span class="line"></span>
                <i class="fas fa-star"></i>
                <span class="line"></span>
            </div>
        </div>
    </div>

</div>
