@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    var url = ViewBag.ApiBaseUrl;
}
@using MaxModels
@model List<BlogModel>
@using Newtonsoft.Json;

<div class="content-body">
    <div class="container-fluid">
        <div class="form-head align-items-center d-flex mb-sm-4 mb-3">
            <div class="me-auto">
                <h2 class="text-black font-w600">Blogs</h2>
                <p class="mb-0">Max Admin Dashboard</p>
            </div>
            <div>
                <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
                        data-bs-target=".blogModel">
                    + New Blog
                </button>
            </div>
        </div>

        <!-- dataTable -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display min-w850">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Created User</th>
                                        <th>Created Date</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img class="rounded-circle" width="35"
                                                     src="@url/UploadedFiles/@item.PictureOne" alt="">
                                            </td>
                                            <td>@item.Title</td>
                                            <td>@item.CreatedUser</td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a class="btn btn-primary shadow btn-xs sharp me-1" onclick='EditBlogModel(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(item)))'>
                                                        <i class="fa fa-pencil"></i>
                                                    </a>

                                                    <a href="javascript:void(0);"
                                                       onclick="confirmDelete('@Url.Action("terminateBlog", "Admin", new { Id = item.Id })')"
                                                       class="btn btn-danger shadow btn-xs sharp">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade blogModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <form method="post" id="interviewForm" action="~/Admin/AddBlog">
                <div class="modal-body">
                    <input type="hidden" id="Id" name="Id" />
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="formFile" class="form-label">Title</label>
                            <input class="form-control" type="text" id="Title" name="Title">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="formFile" class="form-label">Creater Name</label>
                            <input class="form-control" type="text" id="CreatedUser" name="CreatedUser">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="formFile" class="form-label">First Img</label>
                            <input class="form-control" type="file" id="picOneB" onchange="uploadBlogPone()">
                            <input class="form-control" type="text" id="PictureOne" name="PictureOne" hidden>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="formFile" class="form-label">Second Img</label>
                            <input class="form-control" type="file" id="picTwoB" onchange="uploadBlogPtwo()">
                            <input class="form-control" type="text" id="PictureTwo" name="PictureTwo" hidden>
                        </div>
                    </div>
                    <div class="row">
                        <label for="formFile" class="form-label">Description</label>
                        <div class="col-12">
                            <textarea id="editor" name="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alertMessage = '@TempData["AlertMessage"]';
        const alertType = '@TempData["AlertType"]';
        if (alertMessage) {
            Swal.fire({
                title: alertType === 'success' ? 'Success!' : 'Error!',
                text: alertMessage,
                icon: alertType,
                confirmButtonText: 'OK'
            });
        }
    });
    function confirmDelete(url) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the delete action
                window.location.href = url;
            }
        });
    }
</script>